
.parallax {
width: 100%;
height: 40vh;
background-image: url("https://4.bp.blogspot.com/-3e80mfE1HuY/XEOkdpKBH4I/AAAAAAAAAiQ/eci-HLj5J188Uvf-ZIAfudd0B2JxxBJoACLcBGAs/s1600/PAQ%2Bboys.jpg");
background-repeat: no-repeat;
background-size: cover;
}

.body {
  width: 100%;
  height: 45vh;
  background-size: cover;
  padding: 2vh;

}

.videos {
  width: 30%;
    height: auto;
    background-size: cover;
    background-color: white;
}

.image {
  width: 100%;
  padding-bottom: 5vh;
}
.graphContainer {
  padding-top: 5vh;
}

.graph {
  width: 100%;
  height: 40vh;
  padding-bottom: 5vh;
}
